@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Archivo+Black');

html {
    height: 100%;
    width: 100%
}

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%
}

.home {
    display: flex;
    justify-content: center;
}

.content {
    padding-bottom: 3rem;
}

footer {
    position: absolute;
    color: rgba(16, 76, 206, 0.76);
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #8c8d8cab;
    text-align: center;
}

.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222;
    margin-bottom: 20px;
}
.navbar li {
    float: left;    
}

.navbar li a {
    display: block;
    color: #FFF;
    text-decoration: none;
    padding: 8px 16px;
    text-align: center;
}

.navbar li a:hover {
    color: whitesmoke;
    background-color: #3E8EDE;
}
/* -------------------------- */
.LapCalculatorComp {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.LapCalculatorComp form {
    display: flex;
    flex-direction: column;
}

.LapCalculatorComp input {
    width: 100px;
    font-size: 16px;
}

.LapCalculatorComp button {
    cursor: pointer;
}

.LapCalculatorComp input[type=text]:focus {
    border: 2px rgba(52, 79, 231, 0.719) solid;
}
/* -------------------------- */
.SpeedCompComp {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.SpeedCompComp form {
    border: 1px #222 solid;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    padding: 10px;
    background-color: rgba(160, 113, 113, 0.575);
}

.SpeedCompComp form div {
    display: flex;
    justify-content: center;
}

.SpeedCompComp form button {
    margin: 7px 0 0 0;
    padding: 5px 40px;
}
.SpeedCompComp table {
    font-weight: 900;
    font-family: 'Open Sans', sans-serif;
    border-collapse: collapse;
    /* justify-content: space-around; */
    /* width: 35%; */
}

.SpeedCompComp table th, .SpeedCompComp table td {
    justify-content: space-around;
    text-align: center;
    padding: 8px;
    background-color: rgba(230, 230, 230, 0.733);
}

.SpeedCompComp table th {
    padding: 12px;
    background-color: rgba(24, 228, 17, 0.705);
    cursor: pointer;
}
.SpeedCompComp table th:hover {
    background-color: rgba(0, 167, 153, 0.705);
}

.SpeedCompComp table :first-child > :first-child {
    border-collapse: separate;
    border-radius: 34px 0 0 0;
}

.SpeedCompComp table :first-child > :last-child {
    border-radius: 0 34px 0 0;
}

.SpeedCompComp .total_difference {
    font-weight: 900;
    font-family: 'Open Sans', sans-serif;
}

.PaddyInfo p {
    margin: 2px;
    text-align: center;
}

.TTBoxComp {
    margin: auto;
    width: 270px;
}

.TTBoxComp form {
    display: flex;
    flex-direction: column;
    border: 2px black solid;
    
    border-radius: 10px;
    padding: 12px;
    background-color: #DDD;
    border: 1px #222 solid;
    margin: 0 0 20px 0;
}
.TTBoxVehicleInput {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}
.TTBoxLapsInput {
    display: flex;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    justify-content: center;
}
.TTBoxPlaceSpan {
    display: flex;
    justify-content: center;
    margin: 0 6px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}
.TTBoxWrapper {
    padding: 20px 0 15px 0;
    background-color: #000;
}

.TTBoxRowComp {
    padding: 0 20px;
    background-color: black;
    color: white;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.TTBoxRowTime {
    text-align: right;
    position: relative;
    top: -7px;
}

.TTBoxRowFlag {
    /* display: flex; */
    align-self: auto;
    height: 20px;
}

.TTBoxRowNumSpan input {
    width: 30px;
}

.imagesComp {
    /* background-color: grey; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.imagesComp form {
    justify-content: center;
}
.imagesComp div {
    display: flex;
    /* flex-wrap: wrap; */
    /* flex: 1 calc(100% / 5) */
    flex-direction: column;
}

.ImageRowComp {
    display: flex;
    display: none;
    justify-content: space-between;

    width: 270px;
    height: 70px;
    /* margin: 10px; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ImageRowComp span {
    display: flex;
    justify-content: space-between;
}

.ImageRowPlace {
    margin: 5px;
    font-weight: 700;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.ImageRowTime {
    margin: 5px;
    font-weight: 700;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.ImageRowTrackName {
    margin-left: 4px;
    letter-spacing: -2px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    /* font-family: 'Archivo Black'; */
    font-size: 26px;
}

.ImageInfo p {
    margin: 2px;
    text-align: center;
}